/*-----------------------
      Fonts 
------------------------*/

@font-face {
  font-family: "Muli_Lt";
  src: url("assets/fonts/Muli/Muli-Light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli_Rg";
  src: url("assets/fonts/Muli/Muli-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli_italic";
  src: url("assets/fonts/Muli/Muli-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Muli_Sb";
  src: url("assets/fonts/Muli/Muli-SemiBold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli_Bd";
  src: url("assets/fonts/Muli/Muli-Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli_Bk";
  src: url("assets/fonts/Muli/Muli-Black.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}