@function alpha-color($color, $opacity) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);
  @return rgba($r, $g, $b, $opacity);
}

$yiq-contrast-threshold: 200;
$yiq-text-dark: $dark;
$yiq-text-light: $white;

/**
    This function accepts a color (datatable-header-bg-color) and returns a related header text color. To do so, it calculates the threshold value of the
    background and return a text color value.
 **/

@function color-yiq($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);
  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;
  @if($yiq >=$yiq-contrast-threshold) {
    @return $yiq-text-dark;
  }
  @else {
    @return $yiq-text-light;
  }
}