@mixin overlay($background) {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: $background;
}

@mixin box-shadow($shadow...) {
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin transition-property($properties...) {
  -webkit-transition-property: $properties;
  -moz-transition-property: $properties;
  transition-property: $properties;
}

@mixin transition-duration($property) {
  -webkit-transition-duration: $property;
  -moz-transition-duration: $property;
  transition-duration: $property;
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

@mixin clip-path($clip-path) {
  -webkit-clip-path: $clip-path;
  clip-path: $clip-path;
}