@import "_fonts";
@import "_variables";
@import "_functions";
@import "_mixins";
body {
  font: {
    family: $font-family-base;
    size: $font-size-base;
  }
  line-height: $line-height-base;
  position: relative;
}

p {
  font-size: $font-size-base * 0.8;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.w-12 {
  width: 12% !important;
}

// Button css
.btn,
.table td,
.table th {
  font-size: $font-size-base * 0.8;
}

.btn,
button {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

//Dropdown css
.dropdown {
  .dropdown-menu {
    background: $white;
    color: map-get($grays, "900");
    border: 0;
    border-radius: 0;
    margin: 0;
    @include box-shadow(0 0 5px 0px alpha-color(map-get($colors, "black"), 0.1));
    @include transition(transform 0.3s ease, opacity 0.2s ease);
    transform-origin: top;
    display: block;
    @include transform(scaleY(0));
    opacity: 0;
    left: auto;
    right: 0;
    &.show {
      @include transform(scaleY(1));
      opacity: 1;
    }
    &.dropdown-lg {
      min-width: 320px;
    }
    a {
      color: map-get($grays, "900");
      &.active,
      &:active {
        background: transparent;
      }
    }
  }
}

// Form css
.form-control {
  font-size: 0.8em;
  background: transparent;
  color: map-get($grays, "900");
  &:focus {
    background: transparent;
    box-shadow: none;
  }
  &::placeholder {
    color: map-get($grays, "500");
  }
}

// Custom Scrollbar Start
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @include box-shadow(inset 0 0 10px 0 alpha-color(map-get($colors, "black"), 0.2));
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: alpha-color(map-get($colors, "black"), 0.4);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: alpha-color(map-get($colors, "black"), 0.1);
}

nav.navbar {
  @include box-shadow(0px 0px 5px 0px alpha-color(map-get($colors, "black"), 0.1));
  .navbar-brand-wrapper {
    width: 230px;
    height: 60px;
    @include transition(width 0.2s ease);
    @include box-shadow(0px 0px 5px 0px alpha-color(map-get($colors, "black"), 0.1));
    .navbar-brand {
      color: map-get($grays, "900");
    }
  }
  .navbar-menu-wrapper {
    width: calc(100% - 230px);
    height: 60px;
    @include transition(width 0.2s ease);
    .navbar-toggler {
      background: transparent;
    }
    ul {
      li {
        >a {
          min-height: 60px;
          line-height: 60px;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          padding: 0 10px;
          color: map-get($grays, "900");
          position: relative;
        }
      }
    }
  }
}

.page-body-wrapper {
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100% - 60px);
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0;
  -ms-flex-direction: row;
  flex-direction: row;
  nav.sidebar {
    width: 230px;
    background: map-get($grays, "900");
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    overflow: auto;
    @include transition(width 0.2s ease, background 0.2s ease);
    z-index: 999;
    .nav {
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      .nav-item {
        .nav-link {
          padding: 15px 30px;
          white-space: nowrap;
          display: -ms-flexbox;
          display: flex;
          font-size: 14px;
          align-items: center;
          line-height: 18px;
          color: map-get($grays, "100");
        }
        &.active {
          background: alpha-color(map-get($colors, "black"), 0.1);
        }
        &:hover {
          @extend .active;
        }
      }
    }
    &.sidebar-offcanvas {
      @media (max-width: 991px) {
        position: fixed;
        left: -230px;
        top: 60px;
        bottom: 0;
        @include transition(all 0.2s ease);
        &.active {
          left: 0;
        }
      }
    }
  }
  .main-panel {
    width: calc(100% - 230px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    overflow: auto;
    -webkit-box-flex: 1;
    flex: 1 auto;
    -ms-flex: 1 0 0px;
    @include transition(width 0.2s ease);
    @media (max-width: 991px) {
      width: 100%;
    }
    .content-wrapper {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      // width: 100%;
      padding: 20px;
      .overview-grid {
        background: map-get($grays, "300");
        @media (min-width: 992px) {
          height: 90px;
        }
      }
    }
    footer {
      box-shadow: 0px 0px 5px 0px alpha-color(map-get($colors, "black"), 0.1);
    }
  }
}

.sidebar-icon-only {
  nav.navbar {
    .navbar-brand-wrapper {
      width: 80px;
    }
    .navbar-menu-wrapper {
      width: calc(100% - 80px);
    }
  }
  .page-body-wrapper {
    nav.sidebar {
      width: 80px;
      .nav-link {
        .menu-title {
          @include transform(translate(-85%, 0));
          opacity: 0;
        }
      }
    }
    .main-panel {
      width: calc(100% - 80px);
    }
  }
}

//document table css
.item-table tfoot td,
.item-table tfoot th,
.document-table.table-bordered tfoot td,
.document-table.table-bordered tfoot th {
  border: 0;
}

.table-link tbody td {
  cursor: pointer;
}