<p><b>Password Settings</b></p>
<div class="row">
  <div class="form-group col-sm-6">
    <label for="old-pass" class="d-flex align-items-center">Old Password<small class="ml-auto"><i class="fa fa-eye"></i><i
          class="fa fa-eye-slash"></i></small></label>
    <input type="password" class="form-control" id="old-pass" placeholder="Password">
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-6">
    <label for="new-pass" class="d-flex align-items-center">New Password<small class="ml-auto"><i class="fa fa-eye"></i><i
          class="fa fa-eye-slash"></i></small></label>
    <input type="password" class="form-control" id="new-pass" placeholder="Password">
  </div>
  <div class="form-group col-sm-6">
    <label for="cnfm-new-pass" class="d-flex align-items-center">Confirm New Password<small class="ml-auto"><i class="fa fa-eye"></i><i
          class="fa fa-eye-slash"></i></small></label>
    <input type="password" class="form-control" id="cnfm-new-pass" placeholder="Password">
  </div>
  <div class="col-12 text-right">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</div>