<div _ngcontent-c4="" class="card border-0">
  <div _ngcontent-c4="" class="card-body">
    <div _ngcontent-c4="" class="table-responsive border-bottom">
      <table _ngcontent-c4="" class="table table-striped table-sm">
        <thead _ngcontent-c4="">
          <tr _ngcontent-c4="">
            <th *ngFor="let head of header.name">{{head}}</th>
          </tr>
        <tbody _ngcontent-c4="">
          <tr *ngFor="let data of dataList">
            <td *ngFor="let data1 of header.key" (click)="actionClick(action.VIEW,data.id)">
              {{data[data1]}}
            </td>
            <td *ngIf="action">
              <button (click)="actionClick(action.EDIT,data.id)">EDIT</button>
              <button (click)="actionClick(action.DELETE,data.id)">DELETE</button>
            </td>
        </tbody>
      </table>
    </div>
  </div>
</div>