<table class="table table-striped table-sm" border="1px solid">
  <thead>
    <!-- for header display -->
    <tr>
      <th *ngFor="let head of header.name">{{head}}</th>
    </tr>
  <tbody>
    <!-- for data display -->
    <tr *ngFor="let data of dataList">
      <ng-container *ngFor="let data1 of header.key">
        <td *ngIf="header.key !='status'" [status]="data[data1]" appStatus (click)="actionClick(action.VIEW,data.id)">
          
          {{data[data1]}}

        </td>
      </ng-container>
      <!-- if user need actionable table then use -->
      <td *ngIf="action[0]">

        <button (click)="actionClick(action.EDIT,data.id)">EDIT</button>
      </td>
      <td *ngIf="action[1]">

        <button (click)="actionClick(action.DELETE,data.id)">DELETE</button>
      </td>
     
    </tr>
  </tbody>

</table>