/*-----------------------
      Fonts 
------------------------*/
@font-face {
  font-family: "Muli_Lt";
  src: url("../fonts/Muli/Muli-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli_Rg";
  src: url("../fonts/Muli/Muli-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli_italic";
  src: url("../fonts/Muli/Muli-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Muli_Sb";
  src: url("../fonts/Muli/Muli-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli_Bd";
  src: url("../fonts/Muli/Muli-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli_Bk";
  src: url("../fonts/Muli/Muli-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/**
    This function accepts a color (datatable-header-bg-color) and returns a related header text color. To do so, it calculates the threshold value of the
    background and return a text color value.
 **/
body {
  font-family: "Muli_Rg";
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
}

p {
  font-size: 0.8rem;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.w-12 {
  width: 12% !important;
}

.btn,
.table td,
.table th {
  font-size: 0.8rem;
}

.btn:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

.dropdown .dropdown-menu {
  background: #fff;
  color: #212529;
  border: 0;
  border-radius: 0;
  margin: 0;
  -moz-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
  -moz-transition: transform 0.3s ease, opacity 0.2s ease;
  -o-transition: transform 0.3s ease, opacity 0.2s ease;
  -webkit-transition: transform 0.3s ease, opacity 0.2s ease;
  transition: transform 0.3s ease, opacity 0.2s ease;
  transform-origin: top;
  display: block;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  opacity: 0;
  left: auto;
  right: 0;
}

.dropdown .dropdown-menu.show {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  opacity: 1;
}

.dropdown .dropdown-menu.dropdown-lg {
  min-width: 320px;
}

.dropdown .dropdown-menu a {
  color: #212529;
}

.dropdown .dropdown-menu a.active, .dropdown .dropdown-menu .page-body-wrapper nav.sidebar .nav a.nav-item:hover, .page-body-wrapper nav.sidebar .nav .dropdown .dropdown-menu a.nav-item:hover, .dropdown .dropdown-menu a:active {
  background: transparent;
}

.form-control {
  font-size: 0.8em;
  background: transparent;
  color: #212529;
}

.form-control:focus {
  background: transparent;
  box-shadow: none;
}

.form-control::placeholder {
  color: #adb5bd;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -moz-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.1);
}

nav.navbar {
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

nav.navbar .navbar-brand-wrapper {
  width: 230px;
  height: 60px;
  -moz-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

nav.navbar .navbar-brand-wrapper .navbar-brand {
  color: #212529;
}

nav.navbar .navbar-menu-wrapper {
  width: calc(100% - 230px);
  height: 60px;
  -moz-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

nav.navbar .navbar-menu-wrapper .navbar-toggler {
  background: transparent;
}

nav.navbar .navbar-menu-wrapper ul li > a {
  min-height: 60px;
  line-height: 60px;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #212529;
  position: relative;
}

.page-body-wrapper {
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100% - 60px);
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0;
  -ms-flex-direction: row;
  flex-direction: row;
}

.page-body-wrapper nav.sidebar {
  width: 230px;
  background: #212529;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  overflow: auto;
  -moz-transition: width 0.2s ease, background 0.2s ease;
  -o-transition: width 0.2s ease, background 0.2s ease;
  -webkit-transition: width 0.2s ease, background 0.2s ease;
  transition: width 0.2s ease, background 0.2s ease;
  z-index: 999;
}

.page-body-wrapper nav.sidebar .nav {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.page-body-wrapper nav.sidebar .nav .nav-item .nav-link {
  padding: 15px 30px;
  white-space: nowrap;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  align-items: center;
  line-height: 18px;
  color: #f8f9fa;
}

.page-body-wrapper nav.sidebar .nav .nav-item.active, .page-body-wrapper nav.sidebar .nav .nav-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
  .page-body-wrapper nav.sidebar.sidebar-offcanvas {
    position: fixed;
    left: -230px;
    top: 60px;
    bottom: 0;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .page-body-wrapper nav.sidebar.sidebar-offcanvas.active, .page-body-wrapper nav.sidebar .nav nav.sidebar.sidebar-offcanvas.nav-item:hover {
    left: 0;
  }
}

.page-body-wrapper .main-panel {
  width: calc(100% - 230px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  overflow: auto;
  -webkit-box-flex: 1;
  flex: 1 auto;
  -ms-flex: 1 0 0px;
  -moz-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

@media (max-width: 991px) {
  .page-body-wrapper .main-panel {
    width: 100%;
  }
}

.page-body-wrapper .main-panel .content-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 20px;
}

.page-body-wrapper .main-panel .content-wrapper .overview-grid {
  background: #dee2e6;
}

@media (min-width: 992px) {
  .page-body-wrapper .main-panel .content-wrapper .overview-grid {
    height: 90px;
  }
}

.page-body-wrapper .main-panel footer {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.sidebar-icon-only nav.navbar .navbar-brand-wrapper {
  width: 80px;
}

.sidebar-icon-only nav.navbar .navbar-menu-wrapper {
  width: calc(100% - 80px);
}

.sidebar-icon-only .page-body-wrapper nav.sidebar {
  width: 80px;
}

.sidebar-icon-only .page-body-wrapper nav.sidebar .nav-link .menu-title {
  -webkit-transform: translate(-85%, 0);
  -ms-transform: translate(-85%, 0);
  transform: translate(-85%, 0);
  opacity: 0;
}

.sidebar-icon-only .page-body-wrapper .main-panel {
  width: calc(100% - 80px);
}

.item-table tfoot td,
.item-table tfoot th,
.document-table.table-bordered tfoot td,
.document-table.table-bordered tfoot th {
  border: 0;
}

.table-link tbody td {
  cursor: pointer;
}
