<div class="row">
    <div class="form-group col-sm-6">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="John Doe">
    </div>
    <div class="form-group col-sm-6">
        <label for="title" class="d-flex align-items-center">Title<small class="ml-auto">(optional)</small></label>
        <input type="text" class="form-control" id="title" placeholder="Administrator">
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6">
        <label for="email" class="d-flex align-items-center">Email address<small class="ml-auto">(optional)</small></label>
        <input type="email" class="form-control" id="email" placeholder="admin@lumen.test">
    </div>
    <div class="form-group col-sm-6">
        <label for="mobile-number" class="d-flex align-items-center">Mobile Number<small class="ml-auto">(optional)</small></label>
        <input type="text" class="form-control" id="mobile-number" placeholder="9000000">
    </div>
</div>