<div class="page-title">
  <h4 class="mb-3">Product</h4>
</div>
<div class="card border-0">
  <div class="card-header bg-white d-flex flex-wrap align-items-center">
    <div class="mb-sm-0 mb-2">
      <h5>P-10014</h5>
    </div>
    <div class="ml-auto d-flex align-items-center">
      <a routerLink="/product/view" class="btn btn-secondary mr-1"><span class="fa fa-arrow-left"></span></a>
      <a href="/product/add" class="btn btn-secondary mr-1"><span class="fa fa-pencil"></span></a>
      <a href="#" class="btn btn-danger mr-1"><span class="fa fa-trash"></span></a>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <img src="" class="border" height="200" width="200" />
        <!-- <img src="img.png" /> -->
      </div>
      <div class="col-md-8 col-sm-7">
        <div class="table-responsive">
          <table class="table table-borderless">
            <tr>
              <td>
                <strong>Item Code</strong>
              </td>
              <td>P-10014</td>
              <td>
                <strong>Unit Price</strong>
              </td>
              <td>USD 0.00</td>
            </tr>
            <tr>
              <td>
                <strong>Group</strong>
              </td>
              <td>Office Supply</td>
              <td>
                <strong>U.O.M</strong>
              </td>
              <td>meter</td>
            </tr>
            <tr>
              <td>
                <strong>Description</strong>
              </td>
              <td colspan="3">hello product</td>
            </tr>
            <tr>
              <td>
                <strong>Created at</strong>
              </td>
              <td>14-Nov-2018</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>