<div class="page-title"><h4 class="mb-3">Create Customer</h4></div>
<div class="card border-0">
  <div class="card-body">
    <form>
      <div class="row border-bottom">
        <div class="form-group col-md-4 col-sm-6">
          <label for="person">Person</label>
          <input type="text" class="form-control" id="person" />
        </div>
        <div class="form-group col-md-4 col-sm-6">
          <label for="company" class="d-flex"
            >Company<small class="ml-auto">(optional)</small></label
          >
          <input type="text" class="form-control" id="company" />
        </div>
        <div class="form-group col-md-4 col-sm-6">
          <label for="group" class="d-flex"
            >Group<a href="#group-modal" data-toggle="modal" class="ml-auto"
              ><small>+New</small></a
            ></label
          >
          <select class="form-control">
            <option>Type or click to select</option>
            <option>General</option>
            <option>Wholesaler</option>
            <option>Retailer</option>
          </select>
        </div>
        <div class="form-group col-md-4 col-sm-6">
          <label for="email" class="d-flex">Email</label>
          <input type="email" class="form-control" id="email" />
        </div>
        <div class="form-group col-md-4 col-sm-6">
          <label for="work-phone" class="d-flex"
            >Work Phone<small class="ml-auto">(optional)</small></label
          >
          <input type="text" class="form-control" id="work-phone" />
        </div>
        <div class="form-group col-md-4 col-sm-6">
          <label for="mobile-number" class="d-flex"
            >Mobile Number<small class="ml-auto">(optional)</small></label
          >
          <input type="text" class="form-control" id="mobile-number" />
        </div>
      </div>
      <div class="row border-bottom mt-2">
        <div class="form-group col-md-4 col-sm-6">
          <label for="billing-address">Billing Address</label>
          <textarea rows="4" class="form-control"></textarea>
        </div>
        <div class="form-group col-md-4 col-sm-6">
          <label for="shipping-address">Shipping Address</label>
          <textarea rows="4" class="form-control"></textarea>
        </div>
      </div>
      <div class="row border-bottom mt-2">
        <div class="form-group col-md-4 col-sm-6">
          <label for="note" class="d-flex"
            >Note<small class="ml-auto">(optional)</small></label
          >
          <textarea rows="4" class="form-control"></textarea>
        </div>
        <div class="form-group col-md-4 col-sm-6">
          <label for="gstin" class="d-flex"
            >GSTIN<small class="ml-auto">(optional)</small></label
          >
          <input type="text" class="form-control" id="gstin" />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-right">
          <button class="btn btn-primary">Save</button>
          <button class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="group-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Customer group</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          routerLink="/customer/view"
          class="btn btn-primary"
        >
          Save
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- content-wrapper ends -->
