<!-- <div> -->
<!-- <form [formGroup]="addForm" novalidate>
    <label>deliveryDate</label>
    <input type="text" formContolName='orderDate'>
    <br> -->
<!-- <div formGroupName="product">
      <label>id</label>
      <input type="text" formControlName="productId"><br>
      <label>
        productName
      </label>
      <input type="text" formControlName="productName">
    </div>
    <div formGroup="customer">
      <label>CustomerId</label>
      <input type="text" formControlName="customerId">
      <br>
      <label>CustomerName</label>
      <input type="text" formControlName="customerName">
    </div> -->
<!-- <button [disabled]="!addForm.valid">add</button>
  </form> -->
<!-- </div> -->
<!-- {{addForm.status}} -->
<table>
  <tr>
    <th>

    </th>
  </tr>
  <tr *ngFor="let d of data"  >
    <td>{{d.id}}</td>
    <td>{{d.status}}</td>

  </tr>
</table>